.select-file-input {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  border: none;
  opacity: 0;
  width: 96px;
  height: 28px;
  cursor: pointer;
}

.btn-item {
  margin-right: 5px;
}

.file-info {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.file-info-progress {
  display: flex;
  width: 340px;
}

.file-info-progress span:nth-child(1) {
  width: 150px;
  margin-right: 5px;
}
