.container {
  /* width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #fff;
  background: #77a1d3;
  background: -webkit-linear-gradient(to right, #e684ae, #79cbca, #77a1d3);
  background: linear-gradient(to right, #e684ae, #79cbca, #77a1d3); */
}

.box {
  position: absolute;
  width: 500px;
  height: 200px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.progressBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.progress {
  display: flex;
  justify-content: space-between;
}
